.helpbox {
	width: 780px;
	height: 540px;
	background-color: var(--light);
	font-size: 14px;
	line-height: 1.2;
	scrollbar-width: auto;
	scrollbar-color: var(--dark) var(--light);	
	padding: 15px;
	overflow-y: auto;
}

.helpbox h1{
	text-align: center;
	font-size: 18px;
	margin-bottom: 15px;
}

.helpbox h2, .helpbox h3{
	margin-top: 15px;
}

.helpbox h2{
	text-align: center;
	font-size: 16px;
}

.helpbox h3{
	font-size: 14px;
}

.helpbox p{
	text-indent: 20px;
}

.helpbox ul{
	margin-left: 20px;
}

.helpbox .copyright{
	margin-top: 35px;	
	width: 100%;
	text-align: right;
	font-size: 10px;
}
.helpbox .copyright a {
	font-size: 10px;
	color: rgb(4, 1, 91);
}
