:root {
	/*
	--dark: rgb(40, 6, 6); 
	--light: rgb(250, 250, 200);
	*/
	--dark: hsl(20,90%,10%);
	--light: hsl(20,90%,90%);

	--grad-bgr: linear-gradient(20deg, var(--light), var(--dark));
	--border-dark: 1px solid var(--dark);
	--border-light: 1px solid var(--light);
	--shadow-dark: 0px 0px 4px 2px var(--dark);
	--shadow-light: 0px 0px 2px 1px var(--light);
	--shadow-light-strong: 0px 0px 4px 2px var(--light);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;		
}
