:root {
	--dark: rgb(25, 45, 60);
	--light: lightgoldenrodyellow;
	--grad-bgr: linear-gradient(rgb(25, 45, 60), rgb(167, 184, 198));
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #07041c;
	line-height: 1.2;
}

html {
	background-color: gray;
}

body{
	height: 100vh;
	width: 100vh;
	min-width: 810px;
	margin: 0 auto;
}

a {
	color: rgb(4, 1, 91);
}

header,main,footer{
	width: 100%;
}

header{
	height: 3px;
}

footer {
	height: 20px;
	width: 100%;
	margin: 2px;
	display: flex;
	gap: 5px;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
}


main {
	margin: 2px;
	background: var(--grad-bgr);
	border: 1px solid var(--dark);
	border-radius: 2px;
}

/********************** кнопки ***********************************/
.button-controls {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	height: 35px;
	width: 800px;
	margin: 0px auto;
}

.label-box {
	position: absolute;
	width: 400px;
	top: 3px;
	left: 3px;
	color: var(--light);
}

button {
	position: relative;
	cursor: pointer;
	height: 20px;
	margin: 5px;
	width: 50px;
	padding: 2px;
	color: var(--dark);
	font-size: 12px;
	font-weight: 700;
	line-height: 1.0;
	border: 1px solid var(--dark);
	border-radius: 2px;
	background: var(--light);
	box-shadow: 0px 0px 2px 1px var(--light);
}

button:hover {
	box-shadow: 0px 0px 3px 2px rgb(250, 250, 248);
}

button:not([disabled]):hover::after {
	content: attr(data-text);
	position: absolute;
	width: 80px;
	min-height: 30px;
	padding: 3px;
	right: 15px;
	top: 25px;
	z-index: 1;
	font-size: 12px;
	font-weight: 300;
	color: black;
	border: 1px solid var(--dark);
	border-radius: 2px;
	background-color: rgba(245, 245, 245, 0.9);
	box-shadow: 0px 0px 2px 1px rgba(55, 55, 55, 0.5);
}

button:active {
	background-color: rgb(205, 205, 177);
}

button:active::after {
	display: none;
}

button:disabled {
	background-color: rgb(208, 208, 208);
	cursor: not-allowed;
}

/*********************** сцена *********************************/
.container {
	position: relative;
	margin: 5px auto;
	padding: 0px;
	width: 800px;
	height: 600px;
	font-size: 10px;
	background: url("images/background.jpg");
	outline: 1px solid var(--dark);
	border-radius: 2px;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: 100%;
}

/************************** анимации действий *****************************/
.anim-clear {
	/*дрожание*/
	animation-name: frm_clear;
	animation-duration: 100ms;
	animation-timing-function: ease-in;
	animation-iteration-count: 3;
}

@keyframes frm_clear {
	to {
		transform: scale(1.01);
	}
}

.anim-copy {
	/*сдвиг+уменьшение в правый верхний угол*/
	transition-duration: 800ms;
	transition-timing-function: cubic-bezier(0.4, 1.0, 0.8);
	transform-origin: top right;
	transform: scale(0.1);
}

/*************** монитор буфера обмена ***********************/
.monitor img {
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 80px;
	height: 60px;
	background-color: var(--light);
	border: 3px double var(--dark);
	border-radius: 2px;
}

/***************** editor **********************/
.guild-editor,
.sector-editor {
	display: flex;
	z-index: 2;
	position: absolute;
	top: 30px;
	left: 100px;
	width: 150px;
	border: 1px solid var(--dark);
	border-radius: 2px;
	box-shadow: 0px 0px 2px 1px var(--dark);
}

.sector-editor {
	width: 100px;
}

input.name-editor,
input.siege-editor {
	background-color: var(--light);
	border: 1px solid var(--dark);
	box-shadow: 0px 0px 2px 1px var(--light);
	padding: 3px;
	outline: none;
}

input.name-editor {
	width: 100%;
}

input.siege-editor {
	width: 50px;
}

.shadow-filter {
	filter: brightness(0.5);
	transition-property: filter;
	transition-duration: 0.5;
}

/********************* лог ********************************/
#log-box {
	position: absolute;
	bottom: 1px;
	left: 1px;
	width: 200px;
	height: 68px;
	max-height: 150px;
	padding: 3px;
	overflow: hidden;
}

#log-box p{
	color: var(--light);
	font-size: 10px;
	font-weight: 100;
	line-height: 11px;
	transition: opacity 8s;
}
