:root {	
	--dark: hsl(0, 0%, 0%);
	--light: hsl(0, 0%, 98%);

	--grad-bgr: linear-gradient(20deg, var(--light), var(--dark));
	--grad-lightdark: linear-gradient(90deg, var(--light), var(--dark));

	--border-dark: 1px solid var(--dark);
	--border-light: 1px solid var(--light);

	--shadow-dark: 0px 0px 4px 2px var(--dark);
	--shadow-light: 0px 0px 2px 1px var(--light);
	--shadow-light-strong: 0px 0px 4px 2px var(--light);

	--shadow-dark:  0px 0px 2px 1px var(--dark);
	--shadow-dark-strong: 0px 0px 4px 2px var(--dark);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;		
}
